<configuration>
  <system.webServer>
    <handlers>
      <add name="SampleHandler" verb="*" 
        path="SampleHandler.new" 
        type="SampleHandler, SampleHandlerAssembly" 
        resourceType="Unspecified" />
		<add name="DotLess"
		type="dotless.Core.LessCssHttpHandler,dotless.Core" 
		validate="false"
		path="*.LESS" 
		verb="*" />
    </handlers>
  </system.webServer>
</configuration>